<div>
  <div>

    <div fxLayout="row wrap" fxLayout.lt-sm="column">

      <div [ngClass]="boxA" ngClass.lt-sm="smallmobilebox" ngClass.lt-md="mdmobilebox2" ngClass.lt-lg="lgmobilebox2" >
        <h1 [ngClass]="tituloB">Lorem Ipsum</h1>
        <h4 [ngClass]="contenidoB" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nibh mattis tortor
          tristique eleifend. </h4>
      </div>
      <div *ngFor="let item of serv" [ngClass]="boxB" class="mat-elevation-z10" ngClass.lt-sm="smallmobilebox2" fxLayout.lt-sm="row"
        fxLayout.lt-md="row" ngClass.lt-md="mdmobilebox" ngClass.lt-lg="lgmobilebox" >

        <div> <img src="../../../assets/img/{{item.imagen}}" class="img" ngClass.sm="imgmd"> </div>

        <div fxLayout.lt-sm="column" ngClass.lt-sm="smdiv" ngClass.lt-md="mddiv">
          <h3 [ngClass]="tituloA">{{item.titulo}}</h3>
          <h4 [ngClass]="contenidoA" >{{item.contenido}}</h4>
        </div>
      </div>
    </div>
  </div>
