@import "~src/styles.scss";



.box-top-left{
   
    width: 250px;
    height: 250px;

    margin-left: 4%;
    margin-top: 4%;
}
.box-top-center{
    
    width: 250px;
    height: 250px;
    
    border-radius: 20px; 
    margin-top: 4%;

    margin-left: 4%;

}

.img{
    width: 100px;
    padding-top: 8%;
    padding-left: 8%;
}


.smallmobilebox{
    width: 100%;
    height: 180px;

    margin: center;
    
 
}

.smallmobilebox2{
    width: 100%;
    height: 300px;
    
  
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    margin-top: 5%;
    margin-right: 1px;
   

}

.tituloA{
margin-left: 20px;
margin-top: 10px;
color: $texto-oscuro;
}

.tituloB{
    color: $texto-oscuro;


    margin-top: 20px;
    }

.contenidoA{
    
   color: $texto-claro;
    margin-top: 20px;
  margin-left: 20px;
  

}

.contenidoB{
    
   
    margin-top: 20px;
  color: $texto-claro;
  

}

.smdiv{
padding: 30px 30px;

}

.imgmd{
    width: 200px;
    padding-top: 20%;
    padding-left: 20%;
}

.mdmobilebox{

    width: 100%;
    height: 300px;
    
  
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    margin-top: 7%;
    margin-left: 7%;
}

.mdmobilebox2{

    width: 100%;
    height: 100px;


}

.mddiv{
    padding: 50px 50px;
}

.lgmobilebox{

    width: 40%;
    height: 300px;
    
  
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    margin-top: 7%;
    margin-left: 7%;
}

.lgmobilebox2{

    width: 100%;
    height: 100px;


}













// .box-radiusA{
//     width: 200px;
//     height: 200px;
//     border-radius: 300px; 
// background: $terciariotenue;
// top: 10%;
// right: 53%;
// right: 10%;
// margin: 40px 700px;
// }

// .box-radiusB{
//     width: 200px;
//     height: 200px;
//     border-radius: 300px; 
// background: $primariotenue;
// bottom: 2%;
// right: 10%;
// margin: 480px 1480px;

    
// }