<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutAlign.lt-md="start stretch" class="padre" ngClass.lt-md="fondoajuste1" ngClass.md="fondoajuste2" ngClass.sm="fondoajuste3">
    <div fxFlex="50" fxLayout="column" fxFlex.sm="30" *ngFor="let item of datos"> 
        <div class="fondoLetras">
            <div class="titulo"> 
                <h1>
                    {{item.titulo}}
                </h1>
            </div>
            <div class="texto">
                <p>
                    {{item.parrafo}}
                </p>
            </div>
        </div>
        <div class="botenes" fxLayoutAlign="center center">
            <div fxFlex.lt-md="50">
                <button mat-button class="btn1 opboton1">{{item.boton1}}</button>
            </div>
            <div fxFlex.lt-md="50">
                <button mat-stroked-button class=" btn2 opboton3">{{item.boton2}}</button>
            </div>
        </div>
    </div>
    <div fxFlex="50" fxFlex.sm="70">
        <div  class="fondo">
            <div  *ngFor="let text of menus">
                    <button mat-stroked-button routerLink="/contactanos" class="menu1 opboto2">{{text.nombre}}</button>
                    <button mat-stroked-button routerLink="/especialidad" class="menu1 opboto2">Menu2</button>
            </div>
        </div>
        <div class="fondo2">
        </div>
    </div>
</div>


<app-tarjetabeneficios></app-tarjetabeneficios>
<app-especialidades></app-especialidades>
<app-footer></app-footer>