//importacion de hoja de estilos con sus variables
@import "~src/styles.scss";
.fondo{
    width: 100%; 
     height: 700px;
     background: $terciario;
     border-radius: 0px 50px 0px 300px;

}
.fondo2{
    width: 100%; 
    height: 500px;
    background: $secundario;
    border-radius: 0px 300px 0px 250px;
    margin-top: -50%;
}

.titulo{
    font-family: $fuenteprincipal;
    color: $primario;
    font-weight: bold;
    font-size: 220%;
    margin-top: -30%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 5%;
}
.texto
{
    margin-left: 25%;
    margin-right: 5%;
    font-family: $fuenteprincipal;
    font-size: x-large;
    text-align: left;

}
.botenes{
margin-top: 3%;
}
.btn1{
    margin-right: 3%;
}
.btn2{
    margin-right: 3%;
    margin-left: 5%;
}
.fondoLetras{
    background-color: #fcfcfd;
}

.padre{
    position: relative;
}
.menu1{
    margin-top: 5%;
    margin-left: 4%;
    font-size: x-large;
    
}
//ajustado todo

.fondoajuste1{
    .fondo{
        width: 200%; 
         height: 800px;
         background: $terciario;
         border-radius: 0px 50px 0px 300px;
         margin-left: -100%;
    
    }
    .fondo2{
        width: 200%; 
        height: 600px;
        background: $secundario;
        border-radius: 0px 300px 0px 250px;
        margin-top: -200%;
        margin-left: -100%;
    }
    .titulo{
        font-family: $fuenteprincipal;
        color: $primario;
        font-weight: bold;
        font-size: 150%;
        margin-top: 70%;
        margin-bottom: 5%;
        margin-left: 55%;
        margin-right: -55%;
        position: relative;
        text-align: center;
        font-size: medium;
    }
    .texto
    {
        margin-left: 10%;
        margin-right: -90%;
        font-family: $fuenteprincipal;
        font-size: small;
        text-align: left;
        position: relative;
    }
    .btn1{
        margin-left: 3%;
        margin-top: 35%;
        margin-right: 5%;
        font-size:x-small;

    }
    .btn2{
        margin-top: 35%;
        font-size: x-small;
        text-align: left;
        margin-left: 100%;
        border-radius: 50px 50px 50px 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 3px;
        padding-bottom: 3px;

    }
    .menu1{
        margin-top: 15%;
        margin-right: 3%;
        margin-left: 3%;
        font-size: x-small;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}
.fondoajuste2{
    .fondo{
        width: 100%; 
         height: 750px;
         background: $terciario;
         border-radius: 0px 50px 0px 300px;
    
    }
    .fondo2{
        width: 100%; 
        height: 500px;
        background: $secundario;
        border-radius: 0px 300px 0px 250px;
        margin-top: -70%;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 35%;
        margin-right: 5%;
        font-size:x-small;

    }
    .btn2{
        margin-top: 35%;
        font-size: x-small;
        text-align: left;
        margin-left: 100%;
        border-radius: 50px 50px 50px 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 3px;
        padding-bottom: 3px;

    }
}
.fondoajuste3{

    .fondo{
        width: 100%; 
         height: 800px;
         background: $terciario;
         border-radius: 0px 50px 0px 300px;
    
    }
    .fondo2{
        width: 100%; 
        height: 500px;
        background: $secundario;
        border-radius: 0px 300px 0px 250px;
        margin-top: -70%;
    }
    .titulo{
        font-family: $fuenteprincipal;
        color: $primario;
        font-weight: bold;
        font-size: 150%;
        margin-top: 100%;
        margin-bottom: 5%;
        margin-left: 55%;
        margin-right: -55%;
        position: relative;
        text-align: center;
    }
    .texto
    {
        margin-left: 10%;
        margin-right: -90%;
        font-family: $fuenteprincipal;
        font-size: x-large;
        text-align: left;
        position: relative;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 35%;
        margin-right: 5%;
        font-size:x-small;

    }
    .btn2{
        margin-top: 35%;
        font-size: x-small;
        text-align: left;
        margin-left: 100%;
        border-radius: 50px 50px 50px 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 3px;
        padding-bottom: 3px;

    }

}
