<div class="container" [fxLayout]="'row '+reverse" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="medio img" fxLayoutAlign="center end">
        <img src="" alt="imagen especialsita">
    </div>
    <div class="medio text" fxLayoutAlign="start">
        <div fxLayout="column" *ngFor="let esp of retornos">
            <h2>{{esp.titulo}}</h2>
            <p>{{esp.primerp}}</p>
            <h2>{{esp.subtitulo}}</h2>
            <p>{{esp.segundop}}</p>    
        </div>
    </div>
</div>
