@import "~src/styles.scss";

.img{
    background-color: $terciario;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='640' height='640'%3E%3Cdefs%3E%3Cpath d='M377.87 258.88C377.87 316.66 333.06 363.57 277.87 363.57C222.68 363.57 177.87 316.66 177.87 258.88C177.87 201.09 222.68 154.18 277.87 154.18C333.06 154.18 377.87 201.09 377.87 258.88Z' id='dePoh4yZP'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23dePoh4yZP' opacity='1' fill='%234caee5' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 500px 500px;
    background-position: 3% -3%;
    background-repeat: no-repeat;
}

.text{
    padding: 1.5rem;
    max-width: 600px;
    p{
        color: $texto-claro;
    }
    h2{
        color: $texto-oscuro;
    }
}

h2{
    font-weight: 200;
}