<div class="container" fxLayout="column" fxLayoutAlign="center">
    <div class="wrapper-intro" fxLayout="column" fxLayoutAlign="center center">
        <h1>Contenido de Especialidades</h1>
        <hr class="divider">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien.</p>
    </div>
    <div class="wrapper-stepper">
        <mat-horizontal-stepper>
            <mat-step>
                <app-especialsitas [reverse]="" ></app-especialsitas>
            </mat-step>
            <mat-step>
                <app-especialsitas [reverse]="reverse"></app-especialsitas>
            </mat-step>
            <mat-step>
                <app-especialsitas [reverse]=""></app-especialsitas>
            </mat-step>
            <mat-step>
                <app-especialsitas [reverse]="reverse"></app-especialsitas>
            </mat-step>
          </mat-horizontal-stepper>
          
    </div>
</div>