@import "~src/styles.scss";

.container{
    padding: 20px;
    
}

.wrapper-intro{
    text-align: center;
}

h1{
    font-family: $fuenteprincipal;
    color: $texto-oscuro;
    size: $titulo-size;
}

p{
    color: $texto-claro;
    width: 300px;
}

.divider{
    text-align: center;
    width: 20%;
}