<div class="'container'" ngClass.lt-md="containermd" ngClass.lt-lg="containermd">
 
  <div
     fxLayout="row wrap" fxLayoutAlign="space-evenly "*ngFor="let item of serv" fxLayout.lt-sm="column" ngClass.lt-sm="smallbox">
    <div fxFlex.lt-md="40" div fxFlex.lt-lg="40">
      <h3 [ngClass]="'title'">{{ item.titulo }}</h3>
      <div [ngClass]="'columnA'">
        <fa-icon [icon]="faTwitter" [ngClass]="'icon'" size="2x"></fa-icon>
        <fa-icon [icon]="faYoutube" [ngClass]="'icon'" size="2x"></fa-icon>
        <fa-icon [icon]="faWhatsapp" [ngClass]="'icon'" size="2x"></fa-icon>
        <fa-icon [icon]="faInstagram" [ngClass]="'icon'" size="2x"></fa-icon>
      </div>
   </div>
   
    <div fxFlex.lt-md="40" div fxFlex.lt-lg="40">
      <h3 [ngClass]="'title'">{{ item.titulo2 }}</h3>
      <h4 [ngClass]="'contenido'">{{ item.contenido }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido2 }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido3 }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido4 }}</h4>
    </div>
    <div fxFlex.lt-md="40" div fxFlex.lt-lg="40">
      <h3 [ngClass]="'title'">{{ item.titulo3 }}</h3>
      <h4 [ngClass]="'contenido'">{{ item.contenido5 }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido6 }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido7 }}</h4>
      <h4 [ngClass]="'contenido'">{{ item.contenido8 }}</h4>
    </div>
    <div fxFlex.lt-md="40" div fxFlex.lt-lg="40">
      <div>
        <h3 [ngClass]="'title'">{{ item.titulo4 }}</h3>
      </div>
      <button class="opboton3 button" > {{ item.boton }}</button>
    </div>
  </div>
</div>
