@import "~src/styles.scss";

.container {
  // width: 100%;
  // height: %;


  border-radius: 0px 0px 30px 30px;
  margin-top: 10%;

  background-color: $primario;
  padding: 20px;
  margin-bottom: 20px;
}

.containermd {
  // width: 100%;
  // height: 80%;


  border-radius: 0px 0px 30px 30px;
  margin-top: 10%;

  background-color: $primario;
  
  padding: 20px;
  margin-bottom: 20px;

}

.button {

  margin-top: 40px;
  
}

.icon {
  margin-right: 20px;
  color: $texto-oscuro;
  
}

.columnA {
  margin-top: 50px;
}

.title {
  color: $texto-oscuro;
  margin-top: 70px;
  font-weight:bolder;
}

.contenido{
margin-top: 30px;
color: $texto-oscuro;
}

.smallbox{
    width: 100%;
    height: 1000px;
  
  
    border-radius: 0px 0px 30px 30px;
  
  
    background-color: $primario;
    
}
