
$primario:#4CAEE5;
$secundario:#006DC6;
$terciario:#F27059;
$primariotenue:#C2EFFF;
$terciariotenue:#FFBFBE;
$texto-oscuro:#1b3a57;
$texto-claro:#6A6868;
$titulo-size: 2rem;
$fuenteprincipal:'Questrial', sans-serif;
$fuentessecundaria:'Roboto', sans-serif;
html, body { height: 100%; margin: 0;}
h1, h2, h3, h4, h5 ,h6, p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fuenteprincipal;
}

p{
    font-family: $fuentessecundaria;
}

.opboton1{
    background-color:$primariotenue;
    color:$secundario;
    border-radius: 15%;
    border-radius: 50px 50px 50px 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.opboton2{
    border-color:$secundario ;
    background-color: opacity 0;
    color:$secundario;
    border-radius: 50px 50px 50px 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.opboton3{

    border-color: $texto-oscuro;
    color: $texto-claro;
    background-color: opacity 0;
    border-radius: 50px 50px 50px 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}